{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}
    Forgot Password Page
{% endblock %}
{% block header_references %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}


{% block content %}
    <div class="my-body">
        <div class="register-container col-md-3">
            <section id="form">
                <h1 class="form-title">Forgot Password</h1>
                <form action="{% url 'forgot_pass_page' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="mb-3 d-flex justify-content-center flex-column align-items-center">
                        <div>
                            {{ form.captcha }}
                        </div>
                        <div class="text-danger mt-2">
                            {{ form.captcha.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Recovery Email</button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}