{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load static %}

{% block title %}
    Favorite Products
{% endblock %}
{% block header_references %}
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        {% render_partial 'user_panel_module.views.user_panel_sidebar_component' %}
        <div class="dash-content">
            {% if request.path == '/account/favorite-products' %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
            <div class="col-xl-9 col-lg-8 col-md-7">
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% include 'includes/product_item_partial.html' with product=product %}
                    </div>
                </section>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}