.fixed-section {
    .section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .content {
        margin-top: 60px; /* برای جلوگیری از هم‌پوشانی با بخش ثابت */
        padding: 20px;
    }
}

.shipping {
    margin-bottom: 20px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.item-control {
    position: absolute;
    top: 35%;
}

.cursor-pointer {
    cursor: pointer;
}

.brand-imgs {
    display:flex;
    justify-content: center;
    align-items: center;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-bottom: -30px;
    padding: 3px;
    background: linear-gradient(135deg, #f0f0f0, #ff5a00);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-container:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.gif-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}